@use 'sass:color';

$clr_bkgd: #eeeeec;
$clr_bkgd_code: color.scale($clr_bkgd, $lightness: -15%);
$clr_bkgd_highlight_slight: #cdf8a4;
$clr_bkgd_box: #D3D7CF;

$clr_text: #2e3436;
$clr_code_text: #000000;

$clr_h1: #0F2E7B;
$clr_h2: color.scale($clr_h1, $lightness: 20%);
$clr_h3: color.scale($clr_h1, $lightness: 40%);

$clr_lightborder: #babdb6;
$clr_darkborder: black;

html {
  background-color: $clr_bkgd;
  font-family: "Times New Roman", serif;
}

img {
  padding: 0.5rem;
  border: 0.125rem solid $clr_lightborder;
  max-width: 100%;
}

th, td {
  padding: 0.2rem;
  border: 1px solid $clr_darkborder;
}

body {
  padding: 4%;
  padding-bottom: 0.0rem;
  padding-top: 0.5rem;
}

code {
  font-family: "Courier New", monospace;
  font-size: 0.80rem;
  color: $clr_code_text;
}

.highlight {
  background-color: $clr_bkgd_code;
  color: $clr_code_text;
  overflow-x: auto;
}

.slight-highlight {
  background-color: $clr_bkgd_highlight_slight;
  color: $clr_code_text;
  overflow-x: auto;
}

ol, ul, li, p {
  color: $clr_text;
}

h1 {
  color: $clr_h1;
  font-size: 2.00rem;
}

h2 {
  color: $clr_h2;
  font-size: 1.75rem;
}

h3 {
  color: $clr_h3;
  font-size: 1.25rem;
}

nav {
  font-size: 1.75rem;
  padding: 1.50rem;
  background-color: $clr_bkgd_box;
}
.navout {
  color: #555753;
}

footer {
  background-color: $clr_bkgd_box;
  padding: 0.25rem;
  font-size: 0.85rem;
}

.serious-security-business {
  font-family: "Courier New", monospace;
  font-size: 0.75rem;
  background-color: $clr_bkgd_box;
  color: #2e3436;
  padding: 0.25rem;
  border: 1px solid $clr_darkborder;
}
