html {
  background-color: #eeeeec;
  font-family: "Garamond", serif;
}

body {
  padding: 10%;
  padding-bottom: 0.0rem;
  padding-top: 0.5rem;
  font-size: 1.10rem;
}

ul, p {
  color: #2e3436;
}

h1 {
  color: #651029;
  font-size: 2.55rem;
}

h2 {
  color: #A93357;
  font-size: 1.80rem;
}

h3 {
  color: #CE5B7E;
  font-size: 1.25rem;
}

nav {
  font-size: 1.50rem;
  padding: 1.50rem;
  background-color: #D3D7CF;
}
.navcurrent {
  color: #555753;
  padding: 1px;
  border: 1px dashed black;
}

footer {
  background-color: #D3D7CF;
  padding: 0.25rem;
  font-size: 0.85rem;
}
