html {
  background-color: #eeeeec;
  font-family: "Garamond", serif;
}

p {
  color: #2e3436;
}

h1 {
  color: #651029;
}

h2 {
  color: #89203F;
}

h3 {
  color: #9E2E50;
}

.navcurrent {
  color: #555753;
  padding: 1px;
  border: 1px dashed black;
}
.navout {
  color: #204a87;
}
